.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            height: 420px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#nav-link, #logout-link, #post-link, #myBtn {
    background-color:transparent;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    /* padding-left:31px;   */
    text-decoration:none;
}
#logo{
    color: orangered;
    font-family: 'Pacifico', cursive;
    display: inline;
    vertical-align: top;
    margin-left: 420px;
    font-size: 24px;
}
#profile_pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}
#map_block {
    height: 300px;
    width: 200px;
    background: white;
}
#map-canvas1,
#map-canvas2,
#map-canvas3,
#map-canvas4 {
    width: 298px;
    height: 298px;
}

.logolink:hover{
    text-decoration: none;
}
.profile {
    background: #f7f8f9;
    height: 240px;
    border-bottom: 4px solid #c0c3c6;
}
.profile_image {
    display: inline-block;
    vertical-align: top;
}
.personal_details {
    display: inline-block;
    margin: 20px 0px 20px 60px;
}
.card {
    display: inline-block;
    margin: 50px 20px 50px 30px;
    text-align: center;
    border: 2px solid gray;
}
.card-body {
    border-top: 2px solid gray;
    background: white;
}
.homebutton{
    size: 7px;
    color: white;
}
.card-text{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
