<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css'%}">
    <title>Post </title>
</head>
<body>
    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-sucess" role="alert">
            <p>{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}
    <!-- The Header -->
    <div class="header">
        <!-- <a id="nav-link" href="/homepage">Home</a> -->
        <a class="homebutton" href="{% url 'login:index' %}"><i class="fas fa-home"></i></a>
        <a href="{% url 'login:dashboard' %}"class="logolink"><h1 id="logo">Tripshare</h1></a>
        <a href="{% url 'login:logout' %}" id="myBtn" >Logout</a>
    </div>

    <a id="main_person" href="{% url 'login:profile' id=user.id %}"><h1>{{user.first_name}} {{user.last_name}}</h1></a>
    <div class="posts">
            <a class="postlink"><h1 class="postdate">{{post.created_at}}</h1></a>
            <a class="postlink"><h4 class="posttitle">{{post.title}} </h4></a>
            <!--No more than 15-18 words for posrdesc class-->
            <a class="postlink"><h6 class="postdesc">{{post.content}}</h6></a>
    </div>
    <br><br><br>
    <h4 class="postdesc">Comments</h4>
    <!-- Comments -->
    {% for comment in comments %}
    <div class="posts">
            <a class="postlink" href="{% url 'login:show' post_id=post.id %}"><h5 class="postdate">{{comment.created_at}}</h5></a>
            <a class="postlink"><h6 class="postdesc">{{comment.content}}</h6></a>
    </div>
    {% endfor %}
    <!-- Reply -->
    <form action="{% url 'login:reply' post_id=post.id %}" method="POST">
        {% csrf_token %}
        <textarea name="reply" cols="100" rows="10"></textarea><br>
        <input type="submit" class="btn btn-primary" value="Reply">
    </form>
